# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ML logs & temp folders
catboost_info/
*.log

# Environment & IDE
.env
.venv
env/
venv/
ENV/
.vscode/
.idea/
.DS_Store

# Streamlit config / cache
.streamlit/
